
.container
{
    background-color:magenta;
    width:100px;
    display:flex;
    flex-direction:column;
    border:solid black 1px;
   height:400px;

}
div
{
 
    flex-grow:1;
   
  
}
.container>div:nth-child(2)
{
   border-top:solid black 1px;
   border-bottom:solid black 1px;
    flex-grow:2;

}

.container_2
{
    flex-grow:1;
    background-color:cyan;
    border-top:solid black 1px;
    border-bottom:solid black 1px;
}
.container_3
{flex-grow:2;
    background-color:green;
    border-top:solid black 1px;
    border-bottom:solid black 1px;
    border-left:solid black 1px;
    border-right:solid black 1px;
}

.cialo {
    display: flex;
    width: 75%;
 
    margin: 0 auto;
    display: flex;
    flex-direction:row;
}
